In [1]:
import tweepy
import pandas as pd
import numpy as np
import requests
import json
from timeit import default_timer as timer
import re

#import matplotlib
#import matplotlib.pyplot as plt

#%matplotlib inline

In [2]:
#grab archive from local files
tweets_archive = pd.read_csv('data/twitter-archive-enhanced-2.csv')

In [3]:
#grab TSV for predictions from url
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
dog_predictions = pd.read_csv(url,sep='\t')

In [4]:
#grab tweets based on tweet id from tweepy
#lifted lovingly from https://www.promptcloud.com/blog/scrape-twitter-data-using-python-r
with open('twitter_credentials.json') as cred_data:
    info = json.load(cred_data)
    consumer_key = info['CONSUMER_KEY']
    consumer_secret = info['CONSUMER_SECRET']
    access_key = info['ACCESS_KEY']
    access_secret = info['ACCESS_SECRET']

FileNotFoundError: [Errno 2] No such file or directory: 'twitter_credentials.json'

In [ ]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_key, access_secret)

api = tweepy.API(auth,wait_on_rate_limit=True)

In [5]:
tweet_ids = archive.tweet_id.values

NameError: name 'archive' is not defined

In [65]:
#call tweepy/twitter API for additional data based on tweet ids
fail_dict = {}
extended_data = []
start = timer()
with open('tweet_json.txt','w') as outfile:
    for tweet_id in tweet_ids:
        try: 
            tweet = api.get_status(tweet_id,tweet_mode='extended')
            print("Got")
            json.dump(tweet._json,outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fail_dict[tweet_id] = e
            pass
end = timer()
print(end-start)

Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Fail
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got

Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
Got
1961.9580721663478

In [8]:
len(fail_dict), len(tweet_ids)

NameError: name 'fail_dict' is not defined

In [6]:
#grab tweets in to a list
tweets_list = []
for line in open('tweet_json.txt','r'):
    tweets_list.append(json.loads(line))

In [7]:
#figure out what the json looks like
tweets_list[5]

{'created_at': 'Sat Jul 29 00:08:17 +0000 2017',
 'id': 891087950875897856,
 'id_str': '891087950875897856',
 'full_text': "Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh",
 'truncated': False,
 'display_text_range': [0, 138],
 'entities': {'hashtags': [{'text': 'BarkWeek', 'indices': [129, 138]}],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 891087942176911360,
    'id_str': '891087942176911360',
    'indices': [139, 162],
    'media_url': 'http://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg',
    'url': 'https://t.co/kQ04fDDRmh',
    'display_url': 'pic.twitter.com/kQ04fDDRmh',
    'expanded_url': 'https://twitter.com/dog_rates/status/891087950875897856/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'small': {'w': 680, 'h': 680, 'resize': 'fit'},
     'medium': {'w': 899, 'h': 899, 'resize': 'fit'},
     'large': {'w': 899, 'h': 899, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 891087942176911360,
    'id_str': '891087942176911360',
    'indices': [139, 162],
    'media_url': 'http://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg',
    'url': 'https://t.co/kQ04fDDRmh',
    'display_url': 'pic.twitter.com/kQ04fDDRmh',
    'expanded_url': 'https://twitter.com/dog_rates/status/891087950875897856/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'small': {'w': 680, 'h': 680, 'resize': 'fit'},
     'medium': {'w': 899, 'h': 899, 'resize': 'fit'},
     'large': {'w': 899, 'h': 899, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': 'merch  ⇨',
  'description': 'Your Only Source For Professional Dog Ratings ⠀ ⠀IG, FB, Snapchat ⇨ WeRateDogs ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ Business: dogratingtwitter@gmail.com',
  'url': 'https://t.co/N7sNNHAEXS',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 7591094,
  'friends_count': 12,
  'listed_count': 5703,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 140805,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 9538,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1080268745619189760/CyqCf_dA_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1080268745619189760/CyqCf_dA_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1544368760',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 3047,
 'favorite_count': 19877,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [8]:
#collect necessary data from twitter harvest
columns = ['tweet_id','favorite_count','retweet_count']
transfer = []
retweet_ID=[]
retweet_counter=0
for tweet in tweets_list: 
    ID = np.int64(tweet['id'])
    favorite_count = tweet['favorite_count']
    retweet_count = tweet['retweet_count']

    transfer.append((ID,favorite_count,retweet_count))

tweets_extended = pd.DataFrame(transfer, columns = columns)

In [9]:
tweets_extended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null int64
favorite_count    2340 non-null int64
retweet_count     2340 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

In [10]:
tweets_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [11]:
dog_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [12]:
tweets_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
#look at denominator values 
tweets_archive['rating_denominator'].unique(), tweets_archive['rating_numerator'].unique()

(array([ 10,   0,  15,  70,   7,  11, 150, 170,  20,  50,  90,  80,  40,
        130, 110,  16, 120,   2], dtype=int64),
 array([  13,   12,   14,    5,   17,   11,   10,  420,  666,    6,   15,
         182,  960,    0,   75,    7,   84,    9,   24,    8,    1,   27,
           3,    4,  165, 1776,  204,   50,   99,   80,   45,   60,   44,
         143,  121,   20,   26,    2,  144,   88], dtype=int64))

In [17]:
#check denominators and numerators 
mask = tweets_archive['rating_denominator'] != 10
weird_denom = tweets_archive[mask]

weird_denom_ids = weird_denom['tweet_id']

weird_denom.index[16], len(weird_denom)
for i in range(len(weird_denom)):
    print(weird_denom.index[i],weird_denom['text'].tolist()[i])

313 @jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho
342 @docmisterio account started on 11/15/15
433 The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd
516 Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer.
Keep Sam smiling by clicking and sharing this link:
https://t.co/98tB8y7y7t https://t.co/LouL5vdvxx
784 RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…
902 Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE
1068 After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ
1120 Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
1165 Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a
1202 This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq
1228 Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1
1254 Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12
1274 From left to right:
Cletus, Jerome, Alejandro, Burp, &amp; Titson
None know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK
1351 Here is a whole flock of puppers.  60/50 I'll take the lot https://t.co/9dpcw6MdWa
1433 Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ
1598 Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating
1634 Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3
1635 Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55
1662 This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5
1663 I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible
1779 IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq
1843 Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw
2335 This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv

Some values are replies and retweets, which we will strip. 
Based on context it looks like we have a few different categories where the denominators are weird:
* multiple dogs
    * 433
    * 902
    * 1120
    * 1228
    * 1254
    * 1274
    * 1351
    * 1433
    * 1635
    * 1779
    * 1843
* grabbed the wrong value
    * 1068 should be 14/10, not 9/11
    * 1165 should be 13/10, not 4/20
    * 1202 should be 11/10 not 50/50
    * 1662 should be 10/10 not 7/11
    * 2335 should be 9/10 not 3 1/2
* no actual dog rating
    * 516 - should be dropped

In [16]:
wrong_dog_rating = [1068,1165,1202,1662,2335]
no_dog_rating = [516]
multiple_dog_rating = weird_denom.index.drop(wrong_dog_rating+no_dog_rating)

In [18]:
#what do we have for sources?
tweets_archive['source'].unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

In [19]:
tweets_archive.puppo.unique()

array(['None', 'puppo'], dtype=object)

In [20]:
tweets_archive.floofer.unique()

array(['None', 'floofer'], dtype=object)

In [21]:
tweets_archive.pupper.unique()

array(['None', 'pupper'], dtype=object)

In [22]:
tweets_archive.puppo.unique()

array(['None', 'puppo'], dtype=object)

In [23]:
#determine if anything strange is in the names
dog_names = tweets_archive.name.unique()
np.sort(dog_names)

array(['Abby', 'Ace', 'Acro', 'Adele', 'Aiden', 'Aja', 'Akumi', 'Al',
       'Albert', 'Albus', 'Aldrick', 'Alejandro', 'Alexander',
       'Alexanderson', 'Alf', 'Alfie', 'Alfy', 'Alice', 'Amber',
       'Ambrose', 'Amy', 'Amélie', 'Anakin', 'Andru', 'Andy', 'Angel',
       'Anna', 'Anthony', 'Antony', 'Apollo', 'Aqua', 'Archie', 'Arlen',
       'Arlo', 'Arnie', 'Arnold', 'Arya', 'Ash', 'Asher', 'Ashleigh',
       'Aspen', 'Astrid', 'Atlas', 'Atticus', 'Aubie', 'Augie', 'Autumn',
       'Ava', 'Axel', 'Bailey', 'Baloo', 'Balto', 'Banditt', 'Banjo',
       'Barclay', 'Barney', 'Baron', 'Barry', 'Batdog', 'Bauer', 'Baxter',
       'Bayley', 'BeBe', 'Bear', 'Beau', 'Beckham', 'Beebop', 'Beemo',
       'Bell', 'Bella', 'Belle', 'Ben', 'Benedict', 'Benji', 'Benny',
       'Bentley', 'Berb', 'Berkeley', 'Bernie', 'Bert', 'Bertson',
       'Betty', 'Beya', 'Biden', 'Bilbo', 'Billl', 'Billy', 'Binky',
       'Birf', 'Bisquick', 'Blakely', 'Blanket', 'Blipson', 'Blitz',
       'Bloo', 'Bloop', 'Blu', 'Blue', 'Bluebert', 'Bo', 'Bob', 'Bobb',
       'Bobbay', 'Bobble', 'Bobby', 'Bode', 'Bodie', 'Bonaparte', 'Bones',
       'Bookstore', 'Boomer', 'Boots', 'Boston', 'Bowie', 'Brad',
       'Bradlay', 'Bradley', 'Brady', 'Brandi', 'Brandonald', 'Brandy',
       'Brat', 'Brian', 'Brockly', 'Brody', 'Bronte', 'Brooks', 'Brownie',
       'Bruce', 'Brudge', 'Bruiser', 'Bruno', 'Brutus', 'Bubba',
       'Bubbles', 'Buckley', 'Buddah', 'Buddy', 'Bungalo', 'Burt',
       'Butter', 'Butters', 'Cal', 'Calbert', 'Cali', 'Callie', 'Calvin',
       'Canela', 'Cannon', 'Carbon', 'Carl', 'Carll', 'Carly', 'Carper',
       'Carter', 'Caryl', 'Cash', 'Cassie', 'CeCe', 'Cecil', 'Cedrick',
       'Cermet', 'Chadrick', 'Champ', 'Charl', 'Charles', 'Charleson',
       'Charlie', 'Chase', 'Chaz', 'Cheesy', 'Chef', 'Chelsea', 'Cheryl',
       'Chesney', 'Chester', 'Chesterson', 'Chet', 'Chevy', 'Chip',
       'Chipson', 'Chloe', 'Chompsky', 'Christoper', 'Chubbs', 'Chuck',
       'Chuckles', 'Chuq', 'Churlie', 'Cilantro', 'Clarence', 'Clark',
       'Clarkus', 'Clarq', 'Claude', 'Cleopatricia', 'Clifford', 'Clybe',
       'Clyde', 'Coco', 'Cody', 'Colby', 'Coleman', 'Colin', 'Combo',
       'Comet', 'Cooper', 'Coops', 'Coopson', 'Cora', 'Corey', 'Covach',
       'Craig', 'Crawford', 'Creg', 'Crimson', 'Crouton', 'Crumpet',
       'Crystal', 'Cuddles', 'Cupcake', 'Cupid', 'Curtis', 'Daisy',
       'Dakota', 'Dale', 'Dallas', 'Damon', 'Daniel', 'Danny', 'Dante',
       'Darby', 'Darla', 'Darrel', 'Dash', 'Dave', 'Davey', 'Dawn',
       'DayZ', 'Deacon', 'Derby', 'Derek', 'Devón', 'Dewey', 'Dex',
       'Dexter', 'Dido', 'Dietrich', 'Diogi', 'Divine', 'Dixie', 'Django',
       'Dobby', 'Doc', 'DonDon', 'Donny', 'Doobert', 'Dook', 'Dot',
       'Dotsy', 'Doug', 'Duchess', 'Duddles', 'Dudley', 'Dug', 'Duke',
       'Dunkin', 'Durg', 'Dutch', 'Dwight', 'Dylan', 'Earl', 'Eazy',
       'Ebby', 'Ed', 'Edd', 'Edgar', 'Edmund', 'Eevee', 'Einstein',
       'Eleanor', 'Eli', 'Ellie', 'Elliot', 'Emanuel', 'Ember', 'Emma',
       'Emmie', 'Emmy', 'Enchilada', 'Erik', 'Eriq', 'Ester', 'Eugene',
       'Eve', 'Evy', 'Fabio', 'Farfle', 'Ferg', 'Fido', 'Fiji', 'Fillup',
       'Filup', 'Finley', 'Finn', 'Finnegus', 'Fiona', 'Fizz', 'Flash',
       'Fletcher', 'Florence', 'Flurpson', 'Flávio', 'Frank', 'Frankie',
       'Franklin', 'Franq', 'Fred', 'Freddery', 'Frönq', 'Furzey', 'Fwed',
       'Fynn', 'Gabby', 'Gabe', 'Gary', 'General', 'Genevieve', 'Geno',
       'Geoff', 'George', 'Georgie', 'Gerald', 'Gerbald', 'Gert',
       'Gidget', 'Gilbert', 'Gin', 'Ginger', 'Gizmo', 'Glacier', 'Glenn',
       'Godi', 'Godzilla', 'Goliath', 'Goose', 'Gordon', 'Grady', 'Grey',
       'Griffin', 'Griswold', 'Grizz', 'Grizzie', 'Grizzwald', 'Gromit',
       'Gunner', 'Gus', 'Gustaf', 'Gustav', 'Gòrdón', 'Hall', 'Halo',
       'Hammond', 'Hamrick', 'Hank', 'Hanz', 'Happy', 'Harlso', 'Harnold',
       'Harold', 'Harper', 'Harrison', 'Harry', 'Harvey', 'Hazel',
       'Hector', 'Heinrich', 'Henry', 'Herald', 'Herb', 'Hercules',
       'Herm', 'Hermione', 'Hero', 'Herschel', 'Hobbes', 'Holly',
       'Horace', 'Howie', 'Hubertson', 'Huck', 'Humphrey', 'Hunter',
       'Hurley', 'Huxley', 'Iggy', 'Ike', 'Indie', 'Iroh', 'Ito', 'Ivar',
       'Izzy', 'JD', 'Jack', 'Jackie', 'Jackson', 'Jameson', 'Jamesy',
       'Jangle', 'Jareld', 'Jarod', 'Jarvis', 'Jaspers', 'Jax', 'Jay',
       'Jaycob', 'Jazz', 'Jazzy', 'Jeb', 'Jebberson', 'Jed', 'Jeffrey',
       'Jeffri', 'Jeffrie', 'Jennifur', 'Jeph', 'Jeremy', 'Jerome',
       'Jerry', 'Jersey', 'Jesse', 'Jessifer', 'Jessiga', 'Jett', 'Jim',
       'Jimbo', 'Jiminus', 'Jiminy', 'Jimison', 'Jimothy', 'Jo',
       'Jockson', 'Joey', 'Jomathan', 'Jonah', 'Jordy', 'Josep', 'Joshwa',
       'Juckson', 'Julio', 'Julius', 'Juno', 'Kaia', 'Kaiya', 'Kallie',
       'Kane', 'Kanu', 'Kara', 'Karl', 'Karll', 'Karma', 'Kathmandu',
       'Katie', 'Kawhi', 'Kayla', 'Keet', 'Keith', 'Kellogg', 'Ken',
       'Kendall', 'Kenneth', 'Kenny', 'Kenzie', 'Keurig', 'Kevin',
       'Kevon', 'Kial', 'Kilo', 'Kingsley', 'Kirby', 'Kirk', 'Klein',
       'Klevin', 'Kloey', 'Kobe', 'Koda', 'Kody', 'Koko', 'Kollin',
       'Kona', 'Kota', 'Kramer', 'Kreg', 'Kreggory', 'Kulet', 'Kuyu',
       'Kyle', 'Kyro', 'Lacy', 'Laela', 'Laika', 'Lambeau', 'Lance',
       'Larry', 'Lassie', 'Layla', 'Leela', 'Lennon', 'Lenny', 'Lenox',
       'Leo', 'Leonard', 'Leonidas', 'Levi', 'Liam', 'Lilah', 'Lili',
       'Lilli', 'Lillie', 'Lilly', 'Lily', 'Lincoln', 'Linda', 'Link',
       'Linus', 'Lipton', 'Livvie', 'Lizzie', 'Logan', 'Loki', 'Lola',
       'Lolo', 'Longfellow', 'Loomis', 'Lorelei', 'Lorenzo', 'Lou',
       'Louie', 'Louis', 'Luca', 'Lucia', 'Lucky', 'Lucy', 'Lugan',
       'Lulu', 'Luna', 'Lupe', 'Luther', 'Mabel', 'Mac', 'Mack', 'Maddie',
       'Maggie', 'Mairi', 'Maisey', 'Major', 'Maks', 'Malcolm', 'Malikai',
       'Margo', 'Mark', 'Marlee', 'Marley', 'Marq', 'Marty', 'Marvin',
       'Mary', 'Mason', 'Mattie', 'Maude', 'Mauve', 'Max', 'Maxaroni',
       'Maximus', 'Maxwell', 'Maya', 'Meatball', 'Meera', 'Meyer', 'Mia',
       'Michelangelope', 'Miguel', 'Mike', 'Miley', 'Milky', 'Millie',
       'Milo', 'Mimosa', 'Mingus', 'Mister', 'Misty', 'Mitch', 'Mo',
       'Moe', 'Mojo', 'Mollie', 'Molly', 'Mona', 'Monkey', 'Monster',
       'Monty', 'Moofasa', 'Mookie', 'Moose', 'Moreton', 'Mosby',
       'Murphy', 'Mutt', 'Mya', 'Nala', 'Naphaniel', 'Napolean', 'Nelly',
       'Neptune', 'Newt', 'Nico', 'Nida', 'Nigel', 'Nimbus', 'Noah',
       'Nollie', 'None', 'Noosh', 'Norman', 'Nugget', 'O', 'Oakley',
       'Obi', 'Obie', 'Oddie', 'Odie', 'Odin', 'Olaf', 'Ole', 'Olive',
       'Oliver', 'Olivia', 'Oliviér', 'Ollie', 'Opal', 'Opie', 'Oreo',
       'Orion', 'Oscar', 'Oshie', 'Otis', 'Ozzie', 'Ozzy', 'Pablo',
       'Paisley', 'Pancake', 'Panda', 'Patch', 'Patrick', 'Paull',
       'Pavlov', 'Pawnd', 'Peaches', 'Peanut', 'Penelope', 'Penny',
       'Pepper', 'Percy', 'Perry', 'Pete', 'Petrick', 'Pherb', 'Phil',
       'Philbert', 'Philippe', 'Phineas', 'Phred', 'Pickles', 'Pilot',
       'Pinot', 'Pip', 'Piper', 'Pippa', 'Pippin', 'Pipsy', 'Pluto',
       'Poppy', 'Pubert', 'Puff', 'Pumpkin', 'Pupcasso', 'Quinn', 'Ralf',
       'Ralph', 'Ralpher', 'Ralphie', 'Ralphson', 'Ralphus', 'Ralphy',
       'Ralphé', 'Rambo', 'Randall', 'Raphael', 'Rascal', 'Raymond',
       'Reagan', 'Reese', 'Reggie', 'Reginald', 'Remington', 'Remus',
       'Remy', 'Reptar', 'Rey', 'Rhino', 'Richie', 'Ricky', 'Ridley',
       'Riley', 'Rilo', 'Rinna', 'River', 'Rizzo', 'Rizzy', 'Robin',
       'Rocco', 'Rocky', 'Rodman', 'Rodney', 'Rolf', 'Romeo', 'Ron',
       'Ronduh', 'Ronnie', 'Rontu', 'Rooney', 'Roosevelt', 'Rorie',
       'Rory', 'Roscoe', 'Rose', 'Rosie', 'Rover', 'Rubio', 'Ruby',
       'Rudy', 'Rueben', 'Ruffles', 'Rufio', 'Rufus', 'Rumble', 'Rumpole',
       'Rupert', 'Rusty', 'Sadie', 'Sage', 'Sailer', 'Sailor', 'Sam',
       'Sammy', 'Sampson', 'Samsom', 'Samson', 'Sandra', 'Sandy', 'Sansa',
       'Sarge', 'Saydee', 'Schnitzel', 'Schnozz', 'Scooter', 'Scott',
       'Scout', 'Scruffers', 'Seamus', 'Sebastian', 'Sephie', 'Severus',
       'Shadoe', 'Shadow', 'Shaggy', 'Shakespeare', 'Shawwn', 'Shelby',
       'Shikha', 'Shiloh', 'Shnuggles', 'Shooter', 'Siba', 'Sid',
       'Sierra', 'Simba', 'Skittle', 'Skittles', 'Sky', 'Skye', 'Smiley',
       'Smokey', 'Snickers', 'Snicku', 'Snoop', 'Snoopy', 'Sobe', 'Socks',
       'Sojourner', 'Solomon', 'Sonny', 'Sophie', 'Sora', 'Spanky',
       'Spark', 'Sparky', 'Spencer', 'Sprinkles', 'Sprout', 'Staniel',
       'Stanley', 'Stark', 'Stefan', 'Stella', 'Stephan', 'Stephanus',
       'Steve', 'Steven', 'Stewie', 'Storkson', 'Stormy', 'Strider',
       'Striker', 'Strudel', 'Stu', 'Stuart', 'Stubert', 'Sugar', 'Suki',
       'Sully', 'Sundance', 'Sunny', 'Sunshine', 'Superpup', 'Swagger',
       'Sweet', 'Sweets', 'Taco', 'Tango', 'Tanner', 'Tassy', 'Tater',
       'Tayzie', 'Taz', 'Tebow', 'Ted', 'Tedders', 'Teddy', 'Tedrick',
       'Terrance', 'Terrenth', 'Terry', 'Tess', 'Tessa', 'Theo',
       'Theodore', 'Thor', 'Thumas', 'Tiger', 'Tilly', 'Timber',
       'Timison', 'Timmy', 'Timofy', 'Tino', 'Titan', 'Tito', 'Tobi',
       'Toby', 'Todo', 'Toffee', 'Tom', 'Tommy', 'Tonks', 'Torque',
       'Tove', 'Travis', 'Traviss', 'Trevith', 'Trigger', 'Trip', 'Tripp',
       'Trooper', 'Tuck', 'Tucker', 'Tuco', 'Tug', 'Tupawc', 'Tycho',
       'Tyr', 'Tyrone', 'Tyrus', 'Ulysses', 'Venti', 'Vince', 'Vincent',
       'Vinnie', 'Vinscent', 'Vixen', 'Wafer', 'Waffles', 'Walker',
       'Wallace', 'Wally', 'Walter', 'Watson', 'Wesley', 'Wiggles',
       'Willem', 'William', 'Willie', 'Willow', 'Willy', 'Wilson',
       'Winifred', 'Winnie', 'Winston', 'Wishes', 'Wyatt', 'Yoda', 'Yogi',
       'Yukon', 'Zara', 'Zeek', 'Zeke', 'Zeus', 'Ziva', 'Zoe', 'Zoey',
       'Zooey', 'Zuzu', 'a', 'actually', 'all', 'an', 'by', 'getting',
       'his', 'incredibly', 'infuriating', 'just', 'life', 'light', 'mad',
       'my', 'not', 'officially', 'old', 'one', 'quite', 'space', 'such',
       'the', 'this', 'unacceptable', 'very'], dtype=object)

In [25]:
#figure out if we're missing names for dogs - looking for items that are lower-cased or otherwise obviously not a name
missing_names = tweets_archive[tweets_archive.name.str.contains('^[a-z]|None')]
missing_names.sample(8)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1772,678278586130948096,NaN,NaN,2015-12-19 18:19:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Another spooky pupper here. Most definitely fl...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/678278586...,10,10,None,None,None,pupper,None
843,766714921925144576,7.667118e+17,4.196984e+09,2016-08-19 19:14:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",His name is Charley and he already has a new s...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
2066,671147085991960577,NaN,NaN,2015-11-30 02:01:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Helvetica Listerine named Rufus. Thi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671147085...,9,10,a,None,None,None,None
1319,706516534877929472,NaN,NaN,2016-03-06 16:27:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please enjoy this pup in a cooler. Permanently...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/706516534...,12,10,None,None,None,None,None
1053,742465774154047488,NaN,NaN,2016-06-13 21:16:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Was just informed about this hero pupper and o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/742465774...,14,10,None,None,None,pupper,None
912,757596066325864448,NaN,NaN,2016-07-25 15:19:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's another picture without a dog in it. Id...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/757596066...,4,10,None,None,None,None,None
2094,670778058496974848,NaN,NaN,2015-11-29 01:35:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""To bone or not to bone?""\r\n10/10 https://t.c...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/670778058...,10,10,None,None,None,None,None
1156,724771698126512129,NaN,NaN,2016-04-26 01:26:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Nothin better than a doggo and a sunset. 11/10...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/724771698...,11,10,None,doggo,None,None,None

In [21]:
#determine how many non-dog name 
len(missing_names)

854

#### Quality Issues
<ol>
    <li> Drop replys and retweets. </li>
    <li> Ratings with multiple dogs appear to be multiplied by number of dogs in photo. Normalize against denominiator of 10</li>
    <li> Wrong dog ratings captured for index values in <code>wrong_dog_rating</code>. Should be replaced by correct ratings </li>
    <li><code>no_dog_rating</code> is a tweet with no dog rating and should be dropped</li>
    <li> Timestamps are in a string - convert to datetime type</li>
    <li> Names include 'None' and other non-name (not capitalized/proper noun) values. To be removed.</li> 
    <li> Dog type should be a category, not string</li> 
    <li> Many missing dog types. </li>
    <li> Multiple dog stages for some dogs. Combine with comma'd values </li> 
</ol>

#### Tidiness
<ol>
    <li> Doggo, Floofer, Puppo and Pupper columns are extraneous. Merge in to one column with type of dog.</li>
    <li> Merge predictions and the rest of the data in to one dataframe </li>

In [178]:
#make copies of data archives
tweets_archive_clean = tweets_archive.copy()
tweets_extended_clean = tweets_extended.copy()
dog_predictions_clean = dog_predictions.copy()

In [179]:
tweets_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

## Quality Cleaning

### Issue 1 - Drop Reply and Retweets

#### Detail

Find all non-null or non-none items under reply or retweet user id's in `tweets_archive` and drop them.

#### Code

In [180]:
mask1 = tweets_archive_clean['in_reply_to_status_id'].isnull()
mask2 = tweets_archive_clean['retweeted_status_id'].isnull()
tweets_archive_clean = tweets_archive_clean[mask1&mask2]

#### Test

In [181]:
tweets_archive_clean.shape[0], tweets_archive.shape[0]

(2097, 2356)

In [182]:
tweets_archive_clean['in_reply_to_status_id'].unique()

array([nan])

In [183]:
tweets_archive_clean['retweeted_status_id'].unique()

array([nan])

In [184]:
tweets_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 294.9+ KB

### Issue 2 - Multiple Dogs have multiplied ratings

#### Detail

Normalize denomiators and numerators not corresponding to `X / 10` to `X / 10`. Find out ratio for conversion based on moving denominator to a value of `10`, then multipy that by the numerator. Round numerators to the nearest whole number. Convert any intermittent floats to ints.

#### Code

In [185]:
multiple_dog_rating

Int64Index([ 313,  342,  433,  784,  902, 1120, 1228, 1254, 1274, 1351, 1433,
            1598, 1634, 1635, 1663, 1779, 1843],
           dtype='int64')

In [233]:
#use index from multiple-dogs identified earlier as mask for the dataframe
to_clean = tweets_archive_clean[tweets_archive_clean.index.isin(multiple_dog_rating)][['rating_numerator','rating_denominator']]
#adjust numerator by ratio required to change denominator to 10. Round to nearest int.
to_clean['rating_numerator'] = np.int64(round((to_clean['rating_numerator'] * (10 / to_clean['rating_denominator']))))
to_clean['rating_denominator'] = 10

In [234]:
#assign to dataframe 
tweets_archive_clean.loc[tweets_archive_clean.index.isin(multiple_dog_rating),('rating_numerator','rating_denominator')] = to_clean[['rating_numerator','rating_denominator']]

#### Test

In [235]:
#check if everything is normalized 
tweets_archive_clean[tweets_archive_clean.index.isin(multiple_dog_rating)][['rating_denominator','rating_numerator']]

      rating_denominator  rating_numerator
433                   10                12
902                   10                11
1120                  10                12
1228                  10                11
1254                  10                10
1274                  10                 9
1351                  10                12
1433                  10                11
1635                  10                11
1779                  10                12
1843                  10                11

### Issue 3 - Wrong ratings due to wrong part of text being parsed

#### Detail

#### Code

In [384]:
#looks like rating values start from the end of the text string. Pull ratings with regex starting at end of string
mask = tweets_archive_clean.index.isin(wrong_dog_rating)

extracted =tweets_archive_clean[mask].text.str.extractall('([1-9][0-9]*\/[1-9][0-9])')[0]
extracted

      match
1068  0         9/11
      1        14/10
1165  0         4/20
      1        13/10
1202  0        50/50
      1        11/10
1662  0         7/11
      1        10/10
2335  0         9/10
Name: 0, dtype: object

In [361]:
tweets_archive_clean[mask]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582...,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None

In [353]:
right_ratings = right_ratings.str.split('/')

right_numerator = []

#iterate through right_ratings and grab the numerators for each
for i in range(len(right_ratings)):
    right_rating = right_ratings[i][0]
    right_numerator.append(right_rating)

In [356]:
tweets_archive_clean.loc[tweets_archive_clean.index.isin(wrong_dog_rating),('rating_numerator','rating_denominator')] = [right_numerator,10]

ValueError: cannot copy sequence with size 4 to array axis with dimension 5

In [342]:
right_ratings

      match
1068  1        [14, 10]
1165  1        [13, 10]
1202  1        [11, 10]
1662  1        [10, 10]
Name: 0, dtype: object

#### Test

## Tidiness Cleaning

### Issue 1 - Merge Predictions and Extended Data in to One Dataframe

#### Detail

Merge favorite and retweet counts  from `tweets_extended` on to `tweet_archive`.

#### Code

In [56]:
tweets_archive_clean = tweets_archive_clean.merge(tweets_extended_clean,on='tweet_id')

#### Test

In [57]:
tweets_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,favorite_count,retweet_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,38054,8323
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,32670,6150
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,24584,4068
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,41411,8462
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,39584,9165